# Zabbix agent local usado para monitorar o proprio proxy.
ZBX_ENABLEREMOTECOMMANDS=1 # Deprecated since 5.0.0
ZBX_SERVER_HOST=zabbix-proxy-mysql
ZBX_PASSIVE_ALLOW=true
ZBX_PASSIVESERVERS=0.0.0.0/0
ZBX_ACTIVE_ALLOW=true

#################### NOME DO HOST MONITORADO PELO AGENT ABAIXO ###############
ZBX_HOSTNAME=NOME_DO_HOST_DO_PROXY_NO_ZABBIX

ZBX_TIMEOUT=30
ZBX_ALLOWKEY=system.run[*]
