# ZBX_PROXYMODE=0
################### IP ZABBIX SERVER ABAIXO ##############
ZBX_SERVER_HOST=SEU_ZABBIX_SERVER_DNS_OU_IP
ZBX_SERVER_PORT=10051

################### NOME DO PROXY CADASTRADO NO ZABBIX SERVER ABAIXO #################
ZBX_HOSTNAME=NOME_DO_PROXY_NO_ZABBIX

ZBX_ENABLEREMOTECOMMANDS=1
ZBX_HOSTNAMEITEM=system.hostname

ZBX_PROXYLOCALBUFFER=0
ZBX_PROXYOFFLINEBUFFER=1
ZBX_CONFIGFREQUENCY=60
ZBX_DATASENDERFREQUENCY=5
ZBX_STARTPOLLERS=120
ZBX_STARTPOLLERSUNREACHABLE=30
ZBX_STARTTRAPPERS=10
ZBX_STARTPINGERS=30
ZBX_STATSALLOWEDIP=0.0.0.0/0
ZBX_HOUSEKEEPINGFREQUENCY=24
ZBX_CACHESIZE=512M
ZBX_STARTDBSYNCERS=8
ZBX_HISTORYCACHESIZE=1024M
ZBX_HISTORYINDEXCACHESIZE=512M
ZBX_TIMEOUT=30

ZBX_TLSCONNECT=psk
ZBX_TLSPSKIDENTITY=IDENTIDADE_PSK_DO_PROXY
ZBX_TLSPSKFILE=/var/lib/zabbix/ssh_keys/proxy.psk
